.footCover img {
  z-index: 100;
}

.footer-container .col-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playbar {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(31, 27, 27);
  height: 80px;
  z-index: 2;
  padding-top: 3px;
  padding-bottom: 3px;
}

.playbar .leftFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playbar .middleFooter .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playbar img {
  height: 4rem;
  width: 4rem;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  bottom: 0.3rem;
}

.playbar .card {
  background-color: #181818;
}

#footerButton {
  margin-left: 0.3rem;
  background-color: transparent;
  border: 0;
}

progress::-webkit-progress-value {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress {
  margin-top: 10px;
  display: inline-block;
  width: 50%;
  max-height: 5px;
  left: 490px;
  top: 60px;
  background: rgb(255, 255, 255);
  border-radius: 60px;
}

.rightFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playbar .card-text {
  color: lightgrey;
  font-size: 15px;
}

#minute1 {
  color: lightgrey;
  font-size: 13px;
}

#minute2 {
  color: lightgrey;
  font-size: 13px;
}

#footerAlbum {
  color: white;
  font-size: 13px;
}

#footerArtist {
  font-size: 13px;
}
